{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if form is defined %}
    
        {{ form_start(form) }}
        
            <p>
                {{ form_row(form.firstname) }}
            </p>
            <p>
                {{ form_row(form.name) }}
            </p>
            <p>
                {{ form_row(form.email) }}
            </p>
            <p>
                {{ form_row(form.password.first) }}
            </p>
            <p>
                {{ form_row(form.password.second) }}
            </p>
            <button type="submit" class="btn btn-primary">S'inscrire</button>

        {{ form_end(form) }}

    {% endif %}          

    {% if message is defined %}
            <div class="alert alert-{{message.style}}">
                <b>{{message.header}} : </b>
                <p>
                    {{ message.body}}
                </p>
            </div>
        {% endif %}
{% endblock %}
